/* ------------------- */
/* Typography               */
/* ------------------- */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Fraunces:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  padding: var(--pd-wrapper);
  min-height: 80vh;
  font-family: var(--ff-body);
  font-weight: 700;
  background-color: var(--color-surface-lt);
  line-height: var(--base-line-height);
  font-size: 1.6rem;
  color: var(--color-on-primary);
}

.section-layout {
  margin: 0 3rem;
}

.section-right {

  &__image-box {
    position: relative;
    height: 100vh;
  }
}

.btn--toggle {
  padding: 10px;
}