/* ------------------- */
/* Typography               */
/* ------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
  font-size: var(--base-font-size);
}

body {
  font-family: var(--ff-body);
  font-weight: normal;
  background-color: var(--color-bg-primary);
  line-height: var(--base-line-height);
}

.section-layout {
  margin: 0 3rem;
}

.section-right {

  &__image-box {
    position: relative;
    height: 100vh;
  }
}

.btn--toggle {
  padding: 10px;
}