// FONT VARIABLES
$font-heading: 'Fraunces', sans-serif;
$font-body: 'Oswald', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

// COLOR PALLETTE
$color-primary: #fef7c6;
$color-secondary: #c68240;
$color-tertiary: #61351c;
$color-quaternary: #3e6a00;
$color-quinary: #2e3940;

:root {
  // COLOR VARIABLES
  --color-bg-primary: #fef7c6;
	--color-bg-primary-light: #c68240;
  --color-bg-primary-medium: #3e6a00;
  --color-bg-primary-dark: #0D0803;

	--color-bg-secondary: #3e6a00;
  --color-bg-other: #c68240;
  --color-bg-inverse: #3e6a00;

	--color-surface: #fdfdfd;	

  --color-text-primary: #3e6a00;
  --color-text-secondary: #e55837;
  --color-text-theme: #2a9d90;
  --color-text-default-soft: #6a6a6a;
  --color-text-inverse: var(--color-bg-primary);
  --color-text-inverse-soft: rgba(255, 255, 255, 0.7);
	--color-text-white: #fdfdfd;
  
  --knobby: #c68240;
  --knobby-others: #965E23;
  --progress-bar: var(--color-bg-primary);
  --seek-before-width: 0px;
  --seek-before-color: #EBCBA9;
  --volume-others: #3e6a00;
  --volume-music: var(--color-bg-primary);


  --base-font-size: 16px;
  --base-line-height: 1.6;

  // SPACING

  --base-spacing-unit        : 40px/--base-font-size * 1rem;
  --unit                     : --base-spacing-unit;
  --base-border-radius       : 5px;
  --grid-gutter              : 40px/--base-font-size * 1rem;
  --container-pad            : --unit; 
  --container-max            : 1520px;
  --container-small-max      : 820px;
  --container-tiny-max       : 376px;

  /* Major Third Typescale */
  --fs-50: 0.8rem;
  --fs-100: 1rem;
  --fs-200: 1.25rem;
  --fs-300: 1.563rem;
  --fs-400: 1.953rem;
  --fs-500: 2.441rem;

  /* Paddings */
  --pd-container: calc(12px + 1.5625vw);
  --pd-wrapper: 2rem 1.5rem;
  --gap-unit: calc(8px + 1.5625vw);
  --gap-unit-50: 2rem;
  --gap-unit-100: 4rem;
  --gap-unit-150: 5.5rem;
  --gap-unit-200: 7rem;

  @include respond(sm) {
    --gap-unit-150: 7.5rem;
    --pd-wrapper: 4rem 4rem;
    --fs-quote: 1.25rem;
    --fs-time: 10rem;
  }

  @include respond(md) {
    /* Padding */
    --pd-container: 4rem 10rem;
    --pd-wrapper: 3rem 10rem;
    --gap-unit-100: 10rem;
    --gap-unit-150: 10rem;
  }

  @include respond(lg) {
    --base-font-size: 18px;
    --fs-time: 12.5rem;
  } 
  
  /* font-families */
  --ff-heading: "Fraunces", sans-serif;
  --ff-subheading: "Lora", sans-serif;
  --ff-serif: "Oswald", sans-serif;
  --ff-body: "Oswald", sans-serif;
}


[data-theme='dark']  {
  // COLOR VARIABLES
  --color-bg-primary: #121212;
	--color-bg-primary-light: #fef7c6;
  --color-bg-primary-medium: #3e6a00;
  --color-bg-primary-dark: #2e3940;

	--color-bg-secondary: #3e6a00;
  --color-bg-other: #c68240;
  --color-bg-inverse: #fef7c6;

	--color-surface: #1D2B2A;	

  --color-text-primary: #fef7c6;
  --color-text-secondary: #ffa07e;
  --color-text-theme: #94D3CD;
  --color-text-default-soft: #6a6a6a;
  --color-text-inverse: #3e6a00;
  --color-text-inverse-soft: #bbb;
	--color-text-white: #fdfdfd;
  --knobby: #c68240;
  --knobby-others: #90834B;
  --progress-bar: #fef7c6;
  --seek-before-width: 0px;
  --seek-before-color:#90834B;
  --volume-others: #fef7c6;
  --volume-music: #fef7c6;
}