.section-layout {
  margin: 0 3rem;
}

.section-right {
  position: relative;

  &__image-box {
    position: relative;
    height: 100vh;
  }

  &__spotify-player {
    position: absolute;
    right: 0;
    bottom: 0%;
  }
}

.btn--toggle {
  padding: 10px;
}