// FONT VARIABLES
$font-heading: 'Lora', sans-serif;
$font-body: 'Oswald', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

// COLOR VARIABLES
$bg-primary-50: '#EFD5BA';
$bg-primary-100: '#EBCBA9';
$bg-primary-200: '#E3B788';
$bg-primary-300: '#DBA267';
$bg-primary-400: '#D38E46';
$bg-primary-500: '#C37A2E';
$bg-primary-600: '#965E23';
$bg-primary-700: '#684119';
$bg-primary-800: '#3B250E';
$bg-primary-900: '#0D0803';


body {
  --knobby: #3452a5;
  --selectedKnobby: turquoise;
  --seek-before-width: 0px;
  --seek-before-color: red;
}
